@model  shate_m_test.Models.AddCarBrandViewModel
<div class="form-inline">
    <div class="form-group">
        <select asp-items="ViewBag.BrandList" id="brand-id" name="brandId" class="selectpicker mb-2 mr-sm-2"></select>
    </div>
    <div class="form-group">
        <input asp-for="Name" id="car-model" class="form-control mb-2 mr-sm-2" type="text" name="modelName" placeholder="car model" />
    </div>
    <div class="form-group ">
        <button id="add-car-model-submit" class="btn btn-primary mb-2 mr-sm-2">Add</button>

    </div>
</div>