@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-3">
            <ul>
                @foreach (var brand in ViewBag.Brands)
                {
                    <li>@brand.Name</li>
                }
            </ul>
        </div>
        <div class="col-3">
            <ul>
                @foreach (var carModel in ViewBag.CarModels)
                {
                    <li>@carModel.Name</li>
                }
            </ul>
        </div>
    </div>
